[MESSAGES CONTROL]
disable = import-error, missing-docstring, multiple-imports, multiple-statements, too-few-public-methods, ungrouped-imports

[FORMAT]
# Maximum number of characters on a single line.
max-line-length = 120
