<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RPG character sheet viewer/editor</title>
    <style>
{% include 'character-sheet.css' %}
    </style>
  </head>
  <body>
    <header class="header" role="banner">
        <div class="innerheader">
            <h1 class="title">rpg-bonhomme</h1>
            <aside class="subtitle">Tabletop RPG character sheet editor/viewer, cf. <a href="https://github.com/Lucas-C/rpg-bonhomme">https://github.com/Lucas-C/rpg-bonhomme</a></aside>
        </div>
    </header>
    <div class="gallery">
        <ul class="layouts">
            {% for layout in characters_per_layout.keys()|sort %}
            <li class="layout">
                <a href="?layout={{layout}}" class="layout-name">{{layout}}</a>
                <ul class="characters">
                    {% for character in characters_per_layout[layout]|sort(attribute='character_name') %}
                    <li class="character">
                        <a href="?layout={{layout}}&name={{character.character_name}}" title="{{character.name}}">
                            <img class="avatar" src="{{character.avatar or 'img/default-avatar.jpg'}}" alt="Character avatar">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="character-sheet"></div>
    <div class="buttons" style="display: none">
      <input type="image" class="button--save-to-server" onclick="rpg_bonhomme.save_character_to_server()"
        title="Save to remote server" src="img/cloud_upload.png" alt="-">
      <input type="image" class="button--load-from-server" onclick="rpg_bonhomme.load_character_from_server()"
        title="Load from remote server" src="img/cloud_download.png" alt="-">
      <input type="image" class="button--download-json" onclick="rpg_bonhomme.download_character_as_json()"
        title="Download JSON file" src="img/file_download.png" alt="-"/>
      <input type="image" class="button--upload-json" onclick="document.getElementById('charactersheet_file_picker').click()"
        title="Upload JSON file" src="img/file_upload.png" alt="-"/>
      <input type="file" onchange="rpg_bonhomme.charactersheet_file_picker_change(this.files)"
        accept=".json" style="display:none">
    </div>
    <script type="text/javascript">
{% include 'character-sheet.js' %}
    </script>
  </body>
</html>
