input[type=text], input[type=number], textarea {
  font-size: 24px;
}

input#avatar[type=image] { top: 77px; left: 216px; max-width: 398px; max-height: 360px; }
input#name { top: 504px; left: 163px; width: 166px; }

