input, textarea {
  position: absolute;
}
/* Inputs styling in order to get the same look cross-browsers & cross-OSs (e.g. for the same FF version, Windows & Ubuntu input default borders differ) */
input[type=text], input[type=number], textarea {
  font-family: Tahoma,Geneva,sans-serif;
  padding: 2px;
  border: 1px solid lightgrey;
  font-size: 24px;
}

input#avatar[type=image] { top: 77px; left: 216px; max-width: 398px; max-height: 360px; }
input#name { top: 504px; left: 163px; width: 166px; }

